html, body{
    margin: 0px;
    min-height: 100%;
    background-color: #ffffff;
}
label{
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
}
.concept-pair-container{
    margin-top:20px ;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.concept-pair{
    display: flex;
    column-gap: 20px;
}
input, textarea{
    font-size: 18px;
    color:#6A7FC1;
    background-color: #374160;
    border:none;
    padding: 10px 20px;
    border-radius: 5px;
}
input:focus-visible, textarea:focus-visible{
    outline-color: #6A7FC1;
    outline-width: 1px;
    outline-style: solid;
}
.delete-button{
    background-color: #FA1500;
    border:none;
    border-radius: 100%;
    width:40px;
    height: 40px;

}
.delete-button svg path{
    fill: #fff;
}
.add-concepts-btn{
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    width: 50%;
    color: #47C8FE;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    column-gap: 10px;
    
}
.add-concepts-btn svg {
    width: 25px;
    height: 25px;
}

.add-concepts-btn:hover{
    font-size: 19px;
}
.save-button{
    min-width: 150px;
    padding: 15px 0px;
    display: flex;
    column-gap: 10px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border:none;
    font-size: 18px;
    background-color: #47C8FE;
    color: #fff;
    font-weight: bold;
    cursor:pointer;

}
.save-button:hover{
    background-color: green;
}
.save-button:disabled{
    background-color: gray;
}
.message{
    font-size: 18px;
    color:#fff;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
.content-container{
    width: 100%;
    max-width: 1050px;
    border-radius: 20px;
    background-color: #293549;
    padding: 80px;
}
.game-instructions{
    font-family: sans-serif;
    color: #ffffff;
    font-size: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid #6A7FC1;
}
.content-container-body{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    column-gap: 50px;
    margin-top: 70px;
}
.content-col{
    width: 100%;
    border-radius: 15px;
    /* border:1px solid #6A7FC1; */
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.concept1-button, .concept2-button{
    text-align: center;
    padding: 20px 0px;
    border: 1px solid #6A7FC1;
    background-color: #374160;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;

}
.concept1-button:hover, .concept2-button:hover, .selected{
    background-color: #47C8FE;
    color: #293549;
    
}

.correct, .correct:hover {
    background-color: green !important;
    color: white;
}

.incorrect {
    background-color: #FA1500;
    color: white;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #374160;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #6A7FC1;
    width: 80%;
    text-align: center;
    border-radius: 30px;
    font-family: sans-serif;
    color: #fff;
    font-size: 30px;
    max-width: 650px;
}

.close {
    color: #6A7FC1;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #47C8FE;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width:767px){
    body{
        min-height: 100vh;
    }
    .main-container{
        padding: 20px 0px;
    }
    .content-container{
        padding:30px 20px;
        width:80%;
    }
    .content-container-body{
        margin-top: 50px;
    }
    .concept1-button, .concept2-button{
        font-size: 15px;
        padding: 10px 0px;
    }
    .game-instructions{
        font-size: 25px;
    }
}