---
import "../../styles/globals.css"
import Dashboard from "../../components/Dashboard"
---
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Dashboard</title>
  <!-- <link rel="stylesheet" href="/styles/globals.css"> -->
</head>
<body>
  <main class="main-container">
    <Dashboard client:load />

  </main>
</body>
</html>